.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin: 20px auto;
  width: max-content;
}

.square {
  width: 60px;
  height: 60px;
  background-color: #f0f0f0;
  border: 2px solid #333;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

.game-info {
  text-align: center;
  margin-top: 20px;
}

.status {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #0ee08f;
}

.reset-btn, .start-btn {
  padding: 10px 20px;
  background-color: #0ee08f;
  color: rgb(6, 6, 6);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.reset-btn:hover, .start-btn:hover {
  background-color: #0cc07b;
}
